@page
@model AlquilerAutos.App.Presentacion.Pages.EstadoAlquileres.ListModel
@{
}


<h1>Listado de Tipo Alquiler</h1>

<table class="table">
    @foreach (var estadoAlquiler in Model.estadoAlquileres)
    {
        <tr>
            <td>@estadoAlquiler.id</td>
            <td>@estadoAlquiler.marca</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-estadoAlquilerId="@estadoAlquiler.id">
                    Detalle </a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-estadoAlquilerId="@estadoAlquiler.id">
                    Editar
                </a>
            </td 
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-estadoAlquilerId="@estadoAlquiler.id">
                    Eliminar
                </a>
            </td 
        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Adicionar un Estado Alquiler</a>
